<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android4testdemo.test"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<!-- 这里注释掉可以无视API 版本 -->
    <!-- <uses-sdk android:minSdkVersion="18" /> -->
    
	<!-- 这里注意设置instrumentation 包括name 目标工程包名-->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.android4testdemo" />
    
	<!-- Application uses-library 可以额外设置 -->
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>